<!doctype html>
<html>
	<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<title> Choose Universities </title>
		<style>
			#list1 {
				display: none;
			}
			#list2 {
				display: none;
			}
			#list3 {
				display: none;
			}
			#list4 {
				display: none;
			}
			#list5 {
				display: none;
			}
			#list6 {
				display: none;
			}
			#list7 {
				display: none;
			}
			#list8 {
				display: none;
			}
			#list9 {
				display: none;
			}
			#list10 {
				display: none;
			}
			#submitter {
				position: -webkit-sticky; /* Safari */
  			position: sticky;
  			top: 0;
			}
			body,
			html {
			    margin: 10px;
			    padding: 0;
			}

			body {
			    display: flex;
			    /* align-items: center;
			    justify-content: center; */
			    height: 100vh;
			    background: #4b2e83;
			    /* fallback for old browsers */
			    background: -webkit-linear-gradient(to right, #FFFFFF, #FFFFFF);
			    /* Chrome 10-25, Safari 5.1-6 */
			    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
			    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

			}

			.container {
			    max-width: 640px;
			    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			    font-size: 13px;
			}

			ul.ks-cboxtags {
			    list-style: none;
			    padding: 20px;
			}
			ul.ks-cboxtags li{
			  display: inline;
			}
			ul.ks-cboxtags li label{
			    display: inline-block;
			    background-color: rgba(255, 255, 255, .9);
			    border: 2px solid rgba(139, 139, 139, .3);
			    color: #4b2e83;
			    border-radius: 25px;
			    white-space: nowrap;
			    margin: 3px 0px;
			    -webkit-touch-callout: none;
			    -webkit-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    -webkit-tap-highlight-color: transparent;
			    transition: all .2s;
			}

			ul.ks-cboxtags li label {
			    padding: 4px 8px;
			    cursor: pointer;
			}

			ul.ks-cboxtags li label::before {
			    display: inline-block;
			    font-style: normal;
			    font-variant: normal;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    font-family: "Font Awesome 5 Free";
			    font-weight: 900;
			    font-size: 12px;
			    padding: 2px 6px 2px 2px;
			    content: "\f067";
			    transition: transform .3s ease-in-out;
			}

			ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
			    content: "\f00c";
			    transform: rotate(-360deg);
			    transition: transform .3s ease-in-out;
			}

			ul.ks-cboxtags li input[type="checkbox"]:checked + label {
			    border: 2px solid #4b2e83;
			    background-color: #4b2e83;
			    color: #fff;
			    transition: all .2s;
			}

			ul.ks-cboxtags li input[type="checkbox"] {
			  display: absolute;
			}
			ul.ks-cboxtags li input[type="checkbox"] {
			  position: absolute;
			  opacity: 0;
			}
			ul.ks-cboxtags li input[type="checkbox"]:focus + label {
			  border: 2px solid #4b2e83;
			}

		</style>

	</head>

	<body>
		<div>
		<form method="POST">
			<div class="actionButtons" style="text-align:left;">
			<h1>Choose your universities</h1>
			Select up to ten universities that you would like to know application deadlines for.
			<br></br>
				{% csrf_token %}
				 <input type="text"
		     	 id="schoolChoice"
				 		style="width:300px;"
				 />

				<!-- <datalist id="school">
					{% for school in uniList %}
						<option value="{{school}}"> {{ school }} </option>
					{% endfor %}
				</datalist> -->

				<br></br>
				<!-- <script>
				$(document).ready(function(){
					var count = 0;
					var linkCount = 1;
					$("#schoolChoice").change(function(){
						var school = $(this).val();
						document.getElementById("myLink" + linkCount).innerHTML = school;
						document.getElementById("list" + linkCount).style.display = "inline";
						$("<input />", {val: school, name: "selectedSchool-" + count}).appendTo("form").hide();
						$(this).val('');
						count = count + 1;
						linkCount = linkCount + 1;
					});
				});
				</script> -->

				<div class="container" id="checkShow">
		  	<ul class="ks-cboxtags">
		    <li id="list1">
					<input type="checkbox" id="checkShower1" checked><label for="checkboxOne"><a id="myLink1"></a></label>
				</li>
				<li id="list2">
					<input type="checkbox" id="checkShower2" checked><label for="checkboxTwo"><a id="myLink2"></a></label>
				</li>
				<li id="list3">
					<input type="checkbox" id="checkShower3" checked><label for="checkboxThree"><a id="myLink3"></a></label>
				</li>
				<li id="list4">
					<input type="checkbox" id="checkShower4" checked><label for="checkboxFour"><a id="myLink4"></a></label>
				</li>
				<li id="list5">
					<input type="checkbox" id="checkShower5" checked><label for="checkboxFive"><a id="myLink5"></a></label>
				</li>
				<li id="list6">
					<input type="checkbox" id="checkShower6" checked><label for="checkboxSix"><a id="myLink6"></a></label>
				</li>
				<li id="list7">
					<input type="checkbox" id="checkShower7" checked><label for="checkboxSeven"><a id="myLink7"></a></label>
				</li>
				<li id="list8">
					<input type="checkbox" id="checkShower8" checked><label for="checkboxEight"><a id="myLink8"></a></label>
				</li>
				<li id="list9">
					<input type="checkbox" id="checkShower9" checked><label for="checkboxNine"><a id="myLink9"></a></label>
				</li>
				<li id="list10">
					<input type="checkbox" id="checkShower10" checked><label for="checkboxTen"><a id="myLink10"></a></label>
				</li>
				</ul>
				</div>

				<br></br>
				<input type="submit" id ="submitter" name="selectedUnis" position: "fixed">
				</div>
		</form>
		<div id="footer"></div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	</body>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

	<script>
	var data = {
		"Abilene Christian University":1,
		"Adelphi University":2,
		"Agnes Scott College":3,
		"Air Force Institute of Technology":4,
		"Alabama A&M University":5,
		"Alabama State University":6,
		"Alaska Pacific University":7,
		"Albertson College of Idaho":8,
		"Albion College":9,
		"Alderson-Broaddus College":10,
		"Alfred University":11,
		"Allegheny College":12,
		"Allentown College of Saint Francis de Sales":13,
		"Alma College":14,
		"Alverno College":15,
		"Ambassador University":16,
		"American Coastline University":17,
		"American Graduate School of International Management":18,
		"American International College":19,
		"American University":20,
		"Amherst College":21,
		"Andrews University":22,
		"Angelo State University":23,
		"Antioch College":24,
		"Antioch New England":25,
		"Antioch University-Los Angeles":26,
		"Antioch University-Seattle":27,
		"Appalachian State University":28,
		"Aquinas College":29,
		"Arizona State University":30,
		"Arizona State University East":31,
		"Arizona State University West":32,
		"Arizona Western College":33,
		"Arkansas State University":34,
		"Arkansas Tech University":35,
		"Armstrong State College":36,
		"Ashland University":37,
		"Assumption College":38,
		"Athens State College":39,
		"Auburn University":40,
		"Auburn University - Montgomery":41,
		"Augsburg College":42,
		"Augustana College (IL)":43,
		"Augustana College (SD)":44,
		"Aurora University":45,
		"Austin College":46,
		"Austin Peay State University":47,
		"Averett College":48,
		"Avila College":49,
		"Azusa Pacific University":50,
		"Babson College":51,
		"Baldwin-Wallace College":52,
		"Ball State University":53,
		"Baker University":54,
		"Baptist Bible College":55,
		"Bard College":56,
		"Barry University":57,
		"Bastyr University":58,
		"Bates College":59,
		"Baylor College of Medicine":60,
		"Baylor University":61,
		"Beaver College":62,
		"Belmont University":63,
		"Beloit College":64,
		"Bemidji State University":65,
		"Benedictine College":66,
		"Bennington College":67,
		"Bentley College":68,
		"Berea College":69,
		"Berklee College of Music":70,
		"Bethany College (CA)":71,
		"Bethany College (WV)":72,
		"Bethel College (KS)":73,
		"Bethel College and Seminary (MN)":74,
		"Biola University":75,
		"Birmingham-Southern College":76,
		"Black Hills State University":77,
		"Bloomsburg University of Pennsylvania":78,
		"Bluffton College":79,
		"Bob Jones University":80,
		"Boise State University":81,
		"Boston College":82,
		"Boston Graduate School of Psychoanalysis":83,
		"Boston University":84,
		"Bowdoin College":85,
		"Bowie State University":86,
		"Bowling Green State University":87,
		"Bradley University":88,
		"Brandeis University":89,
		"Brenau University":90,
		"Briar Cliff College":91,
		"Bridgewater College":92,
		"Brigham Young University":93,
		"Brigham Young University Hawaii":94,
		"Brown University":95,
		"Bryant College":96,
		"Bryn Mawr College":97,
		"Bucknell University":98,
		"Buena Vista University":99,
		"Butler University":100,
		"California Coast University":101,
		"California Institute of Technology":102,
		"California Lutheran University":103,
		"California Maritime Academy":104,
		"California National University":105,
		"California Pacific University":106,
		"California Polytechnic State University, San Luis Obispo":107,
		"California School of Professional Psychology":108,
		"California State Polytechnic University, Pomona":109,
		"California State University System":110,
		"California State University, Bakersfield":111,
		"California State University, Chico":112,
		"California State University, Dominguez Hills":113,
		"California State University, Fresno":114,
		"California State University, Fullerton":115,
		"California State University, Hayward":116,
		"California State University, Long Beach":117,
		"California State University, Los Angeles":118,
		"California State University, Monterey Bay":119,
		"California State University, Northridge":120,
		"California State University, Sacramento":121,
		"California State University, San Bernardino":122,
		"California State University, San Jose":123,
		"California State University, San Marcos":124,
		"California State University, Sacramento":125,
		"California State University, Stanislaus":126,
		"California University of Pennsylvania":127,
		"Calvin College":128,
		"Campbell University":129,
		"Campbellsville College":130,
		"Cameron University":131,
		"Canisius College":132,
		"Carleton College":133,
		"Carlow College":134,
		"Carnegie Mellon University":135,
		"Carroll College (MT)":136,
		"Carroll College (WI)":137,
		"Carson-Newman College":138,
		"Carthage College":139,
		"Case Western Reserve University":140,
		"Castleton State University":141,
		"The Catholic University of America":142,
		"Cedarville College":143,
		"Centenary College of Louisiana":144,
		"Central College":145,
		"Central Connecticut State University":146,
		"Central Methodist College":147,
		"Central Michigan University":148,
		"Central Missouri State University":149,
		"Central Washington University":150,
		"Centre College":151,
		"Chadron State College":152,
		"Champlain College":153,
		"Chapman University":154,
		"Chatham College":155,
		"Chesapeake College":156,
		"Cheyney University":157,
		"The Chicago School of Professional Psychology":158,
		"Christian Brothers University":159,
		"Christian Theological Seminary":160,
		"Christopher Newport University":161,
		"The Citadel":162,
		"City University":163,
		"City University of New York":164,
		"Claremont Graduate School":165,
		"Claremont McKenna College":166,
		"Clarion University of Pennsylvania":167,
		"Clark University":168,
		"Clarke College":169,
		"Clarkson University":170,
		"Clayton State College":171,
		"Clemson University":172,
		"Cleveland State University":173,
		"Clinch Valley College":174,
		"Coastal Carolina University":175,
		"Coe College":176,
		"Coker College":177,
		"Colby College":178,
		"Colgate University":179,
		"College of the Atlantic":180,
		"College of Charleston":181,
		"College of Eastern Utah":182,
		"College of the Holy Cross":183,
		"College of Saint Benedict":184,
		"College of Saint Catherine":185,
		"College of St. Francis":186,
		"College of Saint Rose":187,
		"College of St. Scholastica":188,
		"College of William and Mary":189,
		"The College of Wooster":190,
		"Colorado Christian University":191,
		"Colorado College":192,
		"Colorado School of Mines":193,
		"Colorado State University":194,
		"Columbia College Chicago":195,
		"Columbia Southern University":196,
		"Columbia Union College":197,
		"Columbia University":198,
		"Concordia College-Ann Arbor":199,
		"Concordia College-Moorhead":200,
		"Concordia College-St. Paul":201,
		"Concordia College-Seward":202,
		"Concordia University River Forest, Illinois":203,
		"Connecticut College":204,
		"The Cooper Union for the Advancement of Science and Art":205,
		"Coppin State College":206,
		"Cornell College":207,
		"Cornell University":208,
		"Cornerstone College":209,
		"Creighton University":210,
		"Curry College":211,
		"Daemen College":212,
		"Dakota State University":213,
		"Dakota Wesleyan University":214,
		"Dallas Baptist University":215,
		"Dana College":216,
		"Daniel Webster College":217,
		"Dartmouth College":218,
		"Davenport College Detroit College of Business":219,
		"Davidson College":220,
		"Davis & Elkins College":221,
		"Delaware State University":222,
		"Delta State University":223,
		"Denison University":224,
		"DePaul University":225,
		"DePauw University":226,
		"DeVry Institute of Technology":227,
		"DeVry Institute of Technology-Dallas":228,
		"DeVry Institute of Technology-Phoenix":229,
		"Dickinson College":230,
		"Dickinson State University":231,
		"Dillard University":232,
		"Dominican College":233,
		"Dordt College":234,
		"Dowling College":235,
		"Drake University":236,
		"Drew University":237,
		"Drexel University":238,
		"Drury College":239,
		"Duke University":240,
		"Duquesne University":241,
		"Earlham College":242,
		"East Carolina University":243,
		"East Central University":244,
		"East Stroudsburg State University of Pennsylvania":245,
		"East Tennessee State University":246,
		"East Texas State University":247,
		"Eastern Connecticut State University":248,
		"Eastern Illinois University":249,
		"Eastern Kentucky University":250,
		"Eastern Mennonite University":251,
		"Eastern Michigan University":252,
		"Eastern Nazarene College":253,
		"Eastern New Mexico University":254,
		"Eastern Oregon State College":255,
		"Eastern Washington University":256,
		"Edgewood College":257,
		"Edinboro University of Pennsylvania":258,
		"Elizabeth City State University":259,
		"Elizabethtown College":260,
		"Elmhurst College":261,
		"Elon College":262,
		"Embry-Riddle Aeronautical University, Arizona":263,
		"Embry-Riddle Aeronautical University, Florida":264,
		"Emerson College":265,
		"Emmanuel College":266,
		"Emmaus Bible College":267,
		"Emporia State University":268,
		"Emory & Henry College":269,
		"Emory University":270,
		"Evergreen State College":271,
		"Fairfield University":272,
		"Fairleigh Dickinson University":273,
		"Fairmont State College":274,
		"Fayetteville State University":275,
		"Ferris State University":276,
		"Fielding Institute":277,
		"Fisk University":278,
		"Fitchburg State College":279,
		"Florida Agricultural and Mechanical University":280,
		"Florida Atlantic University":281,
		"Florida Gulf Coast University":282,
		"Florida Institute of Technology":283,
		"Florida International University":284,
		"Florida State University":285,
		"Fontbonne College":286,
		"Fordham University":287,
		"Fort Hays State University":288,
		"Fort Lewis College":289,
		"Franciscan University":290,
		"Franklin and Marshall College":291,
		"Franklin Pierce Law Center":292,
		"Franklin University":293,
		"Fresno Pacific University":294,
		"Friends University":295,
		"Frostburg State University":296,
		"Fuller Theological Seminary":297,
		"Furman University":298,
		"Gallaudet University":299,
		"Gannon University":300,
		"Geneva College":301,
		"George Fox College":302,
		"George Mason University":303,
		"George Washington University":304,
		"Georgetown University":305,
		"Georgia College":306,
		"Georgia Institute of Technology":307,
		"Georgia Southern University":308,
		"Georgia Southwestern College":309,
		"Georgia State University":310,
		"Georgian Court College":311,
		"Gettysburg College":312,
		"GMI Engineering and Management Institute":313,
		"Golden Gate University":314,
		"Goldey-Beacom College":315,
		"Gonzaga University":316,
		"Goshen College":317,
		"Goucher College":318,
		"Governors State University":319,
		"Grace College":320,
		"Graceland College":321,
		"Grand Valley State University":322,
		"Greenleaf University":323,
		"Grinnell College":324,
		"Guilford College":325,
		"Gustavus Adolphus College":326,
		"Gutenberg College":327,
		"Hamilton College":328,
		"Hamline University":329,
		"Hampden-Sydney College":330,
		"Hampshire College":331,
		"Hampton University":332,
		"Hanover College":333,
		"Harding University":334,
		"Hartwick College":335,
		"Harvard University":336,
		"Harvey Mudd College":337,
		"Haskell Indian Nations University":338,
		"Hastings College":339,
		"Haverford College in Pennsylvania":340,
		"Hawaii Pacific University":341,
		"Heidelberg College":342,
		"Hendrix College":343,
		"Hesston College":344,
		"High Point University":345,
		"Hillsdale College":346,
		"Hiram College":347,
		"Hobart and William Smith Colleges":348,
		"Hofstra University":349,
		"Hollins College":350,
		"Holy Cross College":351,
		"Hood College":352,
		"Hope College":353,
		"Howard University":354,
		"Humboldt State University":355,
		"Hunter College":356,
		"Huntingdon College":357,
		"Huntington College":358,
		"ICI University":359,
		"Idaho State University":360,
		"Illinois Benedictine College":361,
		"Illinois Institute of Technology":362,
		"Illinois State University":363,
		"Incarnate Word College":364,
		"Indiana Institute of Technology":365,
		"Indiana State University":366,
		"Indiana University System":367,
		"Indiana University/Purdue University at Columbus":368,
		"Indiana University/Purdue University at Fort Wayne":369,
		"Indiana University/Purdue University at Indianapolis":370,
		"Indiana University at Bloomington":371,
		"Indiana University at South Bend":372,
		"Indiana University of Pennsylvania":373,
		"Indiana University Southeast at New Albany":374,
		"Indiana Wesleyan University, Marion":375,
		"Inter American University of Puerto Rico Metropolitan Campus":376,
		"Iona College":377,
		"Iowa State University":378,
		"Ithaca College":379,
		"Jackson State University":380,
		"Jacksonville University":381,
		"Jacksonville State University":382,
		"James Madison University":383,
		"Jamestown College":384,
		"The Jewish Theological Seminary":385,
		"John Brown University":386,
		"John F. Kennedy University":387,
		"Johns Hopkins University":388,
		"Johnson Bible College":389,
		"Johnson C. Smith University":390,
		"Johnson & Wales University":391,
		"Johnson & Wales University-Charleston":392,
		"Jones College":393,
		"Judson College":394,
		"Juniata College":395,
		"Kalamazoo College":396,
		"Kansas State University":397,
		"Kansas Wesleyan University":398,
		"Kean College":399,
		"Keene State College":400,
		"Kent State University":401,
		"Kenyon College":402,
		"King's College":403,
		"Knox College":404,
		"Kutztown University of Pennsylvania":405,
		"La Sierra University":406,
		"LaGrange College":407,
		"Lafayette College":408,
		"Lake Forest College":409,
		"Lake Superior State University":410,
		"Lamar University":411,
		"Langston University":412,
		"LaSalle University":413,
		"Lawrence University":414,
		"Lawrence Technological University":415,
		"Lebanon Valley College":416,
		"Lehigh Univervsity":417,
		"Le Moyne College":418,
		"Lenoir-Rhyne College":419,
		"LeTourneau University":420,
		"Lewis & Clark College":421,
		"Lewis-Clark State College":422,
		"Lewis University":423,
		"Liberty University":424,
		"Lincoln University":425,
		"Linfield College":426,
		"Lock Haven University of Pennsylvania":427,
		"Loma Linda University":428,
		"Long Island University":429,
		"Longwood College":430,
		"Loras College":431,
		"Louisiana College":432,
		"Louisiana State University":433,
		"Louisiana State University at Alexandria":434,
		"Louisiana State University at Shreveport":435,
		"Louisiana Tech University":436,
		"Loyola College":437,
		"Loyola Marymount University":438,
		"Loyola University Chicago":439,
		"Luther College":440,
		"Luther Seminary":441,
		"Lycoming College":442,
		"Lynchburg College":443,
		"Lyndon State College":444,
		"Lyon College":445,
		"Macalester College":446,
		"Maharishi University of Management":447,
		"Maine Maritime Academy":448,
		"Malone College":449,
		"Manhattan College":450,
		"Mankato State University":451,
		"Mansfield University of Pennsylvania":452,
		"Marietta College":453,
		"Marist College":454,
		"Marlboro College":455,
		"Marquette University":456,
		"Marshall University":457,
		"Mary Baldwin College":458,
		"Marymount College":459,
		"Marymount University":460,
		"Mary Washington College":461,
		"Massachusetts Institute of Technology":462,
		"McMurry University":463,
		"McNeese State University":464,
		"Medical College of Georgia":465,
		"Medical College of Wisconsin":466,
		"Mercer University":467,
		"Mercyhurst College":468,
		"Meredith College":469,
		"Messiah College":470,
		"Metropolitan State College of Denver":471,
		"Metropolitan State University":472,
		"Miami Christian University":473,
		"Miami University of Ohio":474,
		"Michigan State University":475,
		"Michigan Technological University":476,
		"Mid-America Nazarene College":477,
		"Middlebury College":478,
		"Middle Georgia College":479,
		"Middle Tennessee State University":480,
		"Midwestern State University":481,
		"Millersville University of Pennsylvania":482,
		"Milligan College":483,
		"Millikin University":484,
		"Millsaps College":485,
		"Milwaukee School of Engineering":486,
		"Minot State University":487,
		"Minneapolis College of Art and Design":488,
		"Mississippi College":489,
		"Mississippi State University":490,
		"Mississippi University for Women":491,
		"Missouri Southern State College":492,
		"Missouri Western State College":493,
		"Molloy College":494,
		"Monmouth College":495,
		"Monmouth University":496,
		"Montana State University-Billings":497,
		"Montana State University-Bozeman":498,
		"Montana State University-Northern":499,
		"Montana Tech":500,
		"Montclair State University":501,
		"Montreat College":502,
		"Moravian College":503,
		"Moorhead State University":504,
		"Morehouse College":505,
		"Morgan State University":506,
		"Mount Senario College":507,
		"Mount Holyoke College":508,
		"Mount Saint Joseph College":509,
		"Mount Saint Mary College":510,
		"Mount Union College":511,
		"Murray State University":512,
		"Muskingum College":513,
		"National Defense University":514,
		"National-Louis University":515,
		"National Technological University":516,
		"National University":517,
		"Naval Postgraduate School":518,
		"Nazareth College":519,
		"Newberry College":520,
		"New England Institute of Technology":521,
		"New College of California":522,
		"New Hampshire College":523,
		"New Jersey Institute of Technology":524,
		"New Mexico Highlands University":525,
		"New Mexico Institute of Mining & Technology":526,
		"New Mexico State University":527,
		"New York Institute of Technology":528,
		"New York University":529,
		"Niagara University":530,
		"Nicholls State University":531,
		"Norfolk State University":532,
		"North Adams State College":533,
		"North Carolina Central University":534,
		"North Carolina A&T State University":535,
		"North Carolina State University":536,
		"North Carolina Wesleyan College":537,
		"North Central Bible College":538,
		"North Dakota State University":539,
		"Northland College":540,
		"North Park College and Theological Seminary":541,
		"Northeastern Illinois University":542,
		"Northeastern Louisiana University":543,
		"Northeastern State University":544,
		"Northeastern University":545,
		"Northern Arizona University":546,
		"Northern Illinois University":547,
		"Northern Kentucky University":548,
		"Northern Michigan University":549,
		"Northern State University":550,
		"Northwest Missouri State University":551,
		"Northwest Nazarene College":552,
		"Northwestern College of Iowa":553,
		"Northwestern State University":554,
		"Northwestern University":555,
		"Norwich University":556,
		"Nova Southeastern University":557,
		"Oakland University":558,
		"Oberlin College":559,
		"Occidental College":560,
		"Ohio Dominican College":561,
		"Ohio Northern University":562,
		"Ohio State University, Columbus":563,
		"Ohio State University, Marion":564,
		"Ohio Wesleyan University":565,
		"Ohio University, Athens":566,
		"Oklahoma Baptist University":567,
		"Oklahoma City University":568,
		"Oklahoma State University":569,
		"Old Dominion University":570,
		"Olivet Nazarene University":571,
		"Oral Roberts University":572,
		"Oregon Graduate Institute of Science and Technology":573,
		"Oregon Health Sciences University":574,
		"Oregon Institute of Technology":575,
		"Oregon State University":576,
		"Otterbein College":577,
		"Our Lady of the Lake University":578,
		"Pace University":579,
		"Pacific Lutheran University":580,
		"Pacific Union College":581,
		"Pacific University":582,
		"Pacific Western University":583,
		"Palm Beach Atlantic College":584,
		"Peace College":585,
		"Pembroke State University":586,
		"Pennsylvania State System of Higher Education":587,
		"Pennsylvania State University":588,
		"Pennsylvania State University-Schuylkill Campus":589,
		"Pensacola Christian College":590,
		"Pepperdine University":591,
		"Peru State College":592,
		"Philadelphia College of Textiles and Science":593,
		"Phillips University":594,
		"Pittsburg State University":595,
		"Pitzer College":596,
		"Platt College":597,
		"Plymouth State College":598,
		"Point Loma Nazarene College":599,
		"Polytechnic University of New York":600,
		"Polytechnic University of Puerto Rico":601,
		"Pomona College":602,
		"Portland State University":603,
		"Prairie View A&M University":604,
		"Pratt Institute":605,
		"Prescott College":606,
		"Princeton University":607,
		"Presbyterian College":608,
		"Providence College":609,
		"Purdue University":610,
		"Purdue University Calumet":611,
		"Purdue University North Central":612,
		"Quincy University":613,
		"Quinnipiac College":614,
		"Radford University":615,
		"Ramapo College":616,
		"Randolph-Macon College":617,
		"Randolph-Macon Woman's College":618,
		"Reed College":619,
		"Regent University":620,
		"Regis University":621,
		"Rensselaer Polytechnic Institute":622,
		"Rhode Island College":623,
		"Rhodes College":624,
		"Rice University":625,
		"Richard Stockton College of New Jersey":626,
		"Rider University":627,
		"Ripon College":628,
		"Rivier College":629,
		"Roanoke College":630,
		"Rochester Institute of Technology":631,
		"The Rockefeller University":632,
		"Rockford College":633,
		"Rockhurst College":634,
		"Rocky Mountain College":635,
		"Roger Williams University":636,
		"Rollins College":637,
		"Rosary College":638,
		"Rose-Hulman Institute of Technology":639,
		"Rowan College":640,
		"Rutgers University":641,
		"Rutgers University, Camden":642,
		"Rutgers University, Newark":643,
		"The Sage Colleges":644,
		"Sacred Heart University (CT)":645,
		"Sacred Heart University (PR)":646,
		"Saginaw Valley State University":647,
		"St. Ambrose University":648,
		"St. Andrews Presbyterian College":649,
		"Saint Anselm College":650,
		"St. Bonaventure University":651,
		"Saint Cloud State University":652,
		"Saint Edward's University":653,
		"Saint Francis College":654,
		"St. John's College-Annapolis":655,
		"St. John's College-Santa Fe":656,
		"Saint John's University (MN)":657,
		"Saint John's University (NY)":658,
		"St. Joseph College (CT)":659,
		"Saint Joseph's College (IN)":660,
		"St. Joseph's College (ME)":661,
		"Saint Joseph's University":662,
		"St. Lawrence University":663,
		"St. Louis College of Pharmacy":664,
		"Saint Louis University":665,
		"St. Martin's College":666,
		"Saint Mary College":667,
		"Saint Mary's College (IN)":668,
		"Saint Mary's College of California":669,
		"Saint Mary's University of Minnesota":670,
		"Saint Michael's College":671,
		"Saint Olaf College":672,
		"St. Thomas University (FL)":673,
		"Saint Vincent College":674,
		"Saint Xavier University":675,
		"Salisbury State University":676,
		"Salish Kootenai College":677,
		"Sam Houston State University":678,
		"Samford University":679,
		"San Diego State University":680,
		"San Francisco State University":681,
		"San Jose State University":682,
		"Santa Clara University":683,
		"Sarah Lawrence College":684,
		"School of the Art Institute of Chicago":685,
		"Seattle Pacific University":686,
		"Seattle University":687,
		"Seton Hall University":688,
		"Sewanee, University of the South":689,
		"Shawnee State University":690,
		"Shenandoah University":691,
		"Shippensburg University of Pennsylvania":692,
		"Shorter College":693,
		"Simmons College":694,
		"Simon's Rock College":695,
		"Simpson College":696,
		"Skidmore College":697,
		"Slippery Rock University of Pennsylvania":698,
		"Smith College":699,
		"Sonoma State University":700,
		"South Dakota School of Mines and Technology":701,
		"South Dakota State University":702,
		"Southeast Missouri State University":703,
		"Southeastern Louisiana University":704,
		"Southern College":705,
		"Southern College of Technology":706,
		"Southern Connecticut State University":707,
		"Southern Illinois University":708,
		"Southern Illinois University-Carbondale":709,
		"Southern Illinois University-Edwardsville":710,
		"Southern Methodist University":711,
		"Southern Nazarene University":712,
		"Southern Oregon State College":713,
		"Southern University":714,
		"Southern Utah University":715,
		"Southampton College":716,
		"South Texas College of Law":717,
		"Southwest Baptist University":718,
		"Southwest Missouri State University":719,
		"Southwest State University":720,
		"Southwest Texas State University":721,
		"Southwestern Adventist College":722,
		"Southwestern University":723,
		"Spelman College":724,
		"Spring Arbor College":725,
		"Spring Hill College":726,
		"Stanford University":727,
		"State University of New York System":728,
		"State University of New York at Albany":729,
		"State University of New York College of Technology at Alfred":730,
		"State University of New York at Binghamton":731,
		"State University of New York College at Brockport":732,
		"State University of New York at Buffalo":733,
		"State University of New York College at Buffalo (Buffalo State College)":734,
		"State University of New York College of Agriculture and Technology at Cobleskill":735,
		"State University of New York College at Cortland":736,
		"State University of New York College of Environmental Science and Forestry":737,
		"State University of New York at Farmingdale":738,
		"State University of New York at Fredonia":739,
		"State University of New York College at Geneseo":740,
		"State University of New York College at New Paltz":741,
		"State University of New York College at Oneonta":742,
		"State University of New York at Oswego":743,
		"State University of New York at Plattsburgh":744,
		"State University of New York College at Potsdam":745,
		"State University of New York at Stony Brook":746,
		"State University of New York Institute of Technology at Utica/Rome":747,
		"Stephen F. Austin State University":748,
		"Stephens College":749,
		"Stetson University":750,
		"Stevens Institute of Technology":751,
		"Strayer College":752,
		"Suffolk University":753,
		"Sul Ross State University":754,
		"Summit University of Louisiana":755,
		"Susquehanna University":756,
		"Swarthmore College":757,
		"Sweet Briar College":758,
		"Syracuse University":759,
		"Tabor College":760,
		"Tarleton State University":761,
		"Taylor University":762,
		"Teachers College, Columbia University":763,
		"Teikyo Marycrest University":764,
		"Temple University":765,
		"Tennessee State University":766,
		"Tennessee Technological University":767,
		"Texas A&M International University":768,
		"Texas A&M University-College Station":769,
		"Texas A&M University-Corpus Christi":770,
		"Texas A&M University-Kingsville":771,
		"Texas Christian University":772,
		"Texas Southern University":773,
		"Texas Tech University":774,
		"Texas Tech University-Health Sciences Center":775,
		"Texas Woman's University":776,
		"Thomas College":777,
		"Thomas Edison State College":778,
		"Thomas Jefferson University":779,
		"Thomas More College":780,
		"Towson State University":781,
		"Transylvania University":782,
		"Trenton State College":783,
		"Trinity College (CT)":784,
		"Trinity College (DC)":785,
		"Trinity University":786,
		"Troy State University":787,
		"Truman State University":788,
		"Tucson University":789,
		"Tufts University":790,
		"Tulane University":791,
		"Tuskegee University":792,
		"Union College":793,
		"The Union Institute":794,
		"Union University":795,
		"United States Air Force Academy":796,
		"United States International University":797,
		"United States Merchant Marine Academy":798,
		"United States Military Academy":799,
		"United States Naval Academy":800,
		"The Uniformed Services University of the Health Sciences":801,
		"Ursinus College":802,
		"Ursuline College":803,
		"UA-B":804,
		"University of Akron":805,
		"University of Alabama at Birmingham":806,
		"University of Alabama at Huntsville":807,
		"University of Alabama at Tuscaloosa":808,
		"University of Alaska":809,
		"University of Alaska-Anchorage":810,
		"University of Alaska-Fairbanks":811,
		"University of Alaska-Southeast":812,
		"University of Arizona":813,
		"University of Arkansas - Fayetteville":814,
		"University of Arkansas - Little Rock":815,
		"University of Arkansas for Medical Sciences":816,
		"University of Arkansas - Monticello":817,
		"University of Baltimore":818,
		"University of Bridgeport":819,
		"UC":820,
		"University of California, Berkeley":821,
		"University of California, Davis":822,
		"University of California, Irvine":823,
		"University of California, Los Angeles":824,
		"University of California, Riverside":825,
		"University of California, San Diego":826,
		"University of California, San Francisco":827,
		"University of California, Santa Barbara":828,
		"University of California, Santa Cruz":829,
		"University of Central Arkansas":830,
		"University of Central Florida":831,
		"University of Central Texas":832,
		"University of Charleston":833,
		"University of Chicago":834,
		"University of Cincinnati":835,
		"University of Colorado at Boulder":836,
		"University of Colorado at Colorado Springs":837,
		"University of Colorado at Denver":838,
		"University of Colorado Health Sciences Center":839,
		"University of Connecticut":840,
		"UD-H":841,
		"University of Dallas":842,
		"University of Dayton":843,
		"University of Delaware":844,
		"University of Denver":845,
		"University of the District of Columbia":846,
		"University of Detroit Mercy":847,
		"University of Dubuque":848,
		"University of Evansville":849,
		"University of Florida":850,
		"University of Georgia":851,
		"University of Great Falls":852,
		"University of Guam":853,
		"University of Hartford":854,
		"University of Hawaii at Hilo Physics and Astronomy":855,
		"University of Hawaii at Manoa":856,
		"University of Houston":857,
		"UI-L":858,
		"University of Idaho":859,
		"University of Illinois at Chicago":860,
		"University of Illinois at Springfield":861,
		"University of Ilinois at Urbana-Champaign":862,
		"University of Indianapolis":863,
		"University of Iowa":864,
		"University of Kansas":865,
		"University of Kansas School of Medicine":866,
		"University of Kentucky":867,
		"University of La Verne":868,
		"University of Louisville":869,
		"UM":870,
		"University of Maine System":871,
		"University of Maine":872,
		"University of Maine at Farmington":873,
		"University of Maine at Fort Kent":874,
		"University of Maine at Machias":875,
		"University of Maine at Presque Island":876,
		"University of Maryland at Baltimore":877,
		"University of Maryland at Baltimore County":878,
		"University of Maryland at College Park":879,
		"University of Maryland - University College":880,
		"University of Massachusetts System":881,
		"University of Massachusetts at Amherst":882,
		"University of Massachusetts at Dartmouth":883,
		"University of Massachusetts at Lowell":884,
		"University of Memphis":885,
		"University of Miami":886,
		"University of Michigan-Ann Arbor":887,
		"University of Michigan-Dearborn":888,
		"University of Minnesota":889,
		"University of Minnesota-Crookston":890,
		"University of Minnesota-Duluth":891,
		"University of Minnesota-Morris":892,
		"University of Minnesota-Twin Cities":893,
		"University of Mississippi":894,
		"University of Mississippi Medical Center":895,
		"University of Missouri System":896,
		"University of Missouri-Columbia":897,
		"University of Missouri-Kansas City":898,
		"University of Missouri-Rolla":899,
		"University of Missouri-Saint Louis":900,
		"University of Montana":901,
		"UN":902,
		"University of Nebraska, Kearney":903,
		"University of Nebraska, Lincoln":904,
		"University of Nebraska, Omaha":905,
		"University of Nevada, Las Vegas":906,
		"University of Nevada, Reno":907,
		"University of New England":908,
		"University of New Hampshire, Durham":909,
		"University of New Haven":910,
		"University of New Mexico":911,
		"University of New Orleans":912,
		"University of North Carolina at Asheville":913,
		"University of North Carolina at Chapel Hill":914,
		"University of North Carolina at Charlotte":915,
		"University of North Carolina at Greensboro":916,
		"University of North Carolina System":917,
		"University of North Carolina at Wilmington":918,
		"University of North Dakota":919,
		"University of North Florida":920,
		"University of North Texas":921,
		"University of North Texas Health Science Center":922,
		"University of Northern Colorado":923,
		"University of Northern Iowa":924,
		"University of Notre Dame":925,
		"UO-S":926,
		"University of Oklahoma":927,
		"University of Oregon":928,
		"University of the Ozarks":929,
		"University of the Pacific":930,
		"University of Pennsylvania":931,
		"University of Phoenix":932,
		"University of Pittsburgh":933,
		"University of Pittsburgh at Johnstown":934,
		"University of Portland":935,
		"University of Puerto Rico":936,
		"University of Puget Sound":937,
		"University of Redlands":938,
		"University of Rhode Island":939,
		"University of Richmond":940,
		"University of Rochester":941,
		"University of San Diego":942,
		"University of San Francisco":943,
		"University of Sarasota":944,
		"University of Science & Arts of Oklahoma":945,
		"University of Scranton":946,
		"University of Sioux Falls":947,
		"University of Southern California":948,
		"University of South Carolina":949,
		"University of South Carolina - Aiken":950,
		"University of South Dakota":951,
		"University of South Florida":952,
		"University of Southern Maine":953,
		"University of Southern Mississippi":954,
		"University of Southwestern Louisiana":955,
		"University of Saint Thomas":956,
		"University of Saint Thomas (MN)":957,
		"University of South Alabama":958,
		"University of Southern Colorado":959,
		"University of Southern Indiana":960,
		"UT":961,
		"University of Tampa":962,
		"University of Tennessee, Knoxville":963,
		"University of Tennessee, Martin":964,
		"University of Texas System":965,
		"University of Texas at Arlington":966,
		"University of Texas at Austin":967,
		"University of Texas at Brownsville":968,
		"University of Texas at Dallas":969,
		"University of Texas at El Paso":970,
		"University of Texas-Pan American":971,
		"University of Texas at San Antonio":972,
		"University of Texas Health Science Center at Houston":973,
		"University of Texas Health Science Center at San Antonio":974,
		"University of Texas at Tyler":975,
		"University of Texas Health Center at Tyler":976,
		"University of Texas M.D. Anderson Cancer Center":977,
		"University of Texas Medical Branch":978,
		"University of Texas Southwestern Medical Center at Dallas":979,
		"University of Toledo":980,
		"University of Tulsa":981,
		"UU-W":982,
		"University of Utah":983,
		"University of Vermont":984,
		"University of the Virgin Islands":985,
		"University of Virginia, Charlottesville":986,
		"University of Washington":987,
		"University of West Alabama":988,
		"University of West Florida":989,
		"University of Wisconsin System":990,
		"University of Wisconsin-Eau Claire":991,
		"University of Wisconsin-Green Bay":992,
		"University of Wisconsin-LaCrosse":993,
		"University of Wisconsin-Madison":994,
		"University of Wisconsin-Milwaukee":995,
		"University of Wisconsin-Oshkosh":996,
		"University of Wisconsin-Parkside":997,
		"University of Wisconsin-Platteville":998,
		"University of Wisconsin-River Falls":999,
		"University of Wisconsin-Stevens Point":1000,
		"University of Wisconsin-Stout":1001,
		"University of Wisconsin-Superior":1002,
		"University of Wisconsin-Whitewater":1003,
		"University of Wyoming":1004,
		"Upper Iowa University":1005,
		"Utah State University":1006,
		"Utah Valley State College":1007,
		"Valley City State University":1008,
		"Valdosta State University":1009,
		"Valparaiso University":1010,
		"Vanderbilt University":1011,
		"Vassar College":1012,
		"Vermont Technical College":1013,
		"Villa Julie College":1014,
		"Villanova University":1015,
		"Virginia Commonwealth University":1016,
		"Virginia Intermont College":1017,
		"Virginia Military Institute":1018,
		"Virginia Polytechnic Institute and State University":1019,
		"Virginia State University":1020,
		"Virginia Wesleyan College":1021,
		"Wabash College":1022,
		"Wake Forest University":1023,
		"Walden University":1024,
		"Walla Walla College":1025,
		"Warren Wilson College":1026,
		"Wartburg College":1027,
		"Washburn University":1028,
		"Washington Bible College/Capital Bible Seminary":1029,
		"Washington & Lee University":1030,
		"Washington College":1031,
		"Washington State University":1032,
		"Washington State University at Tri-Cities":1033,
		"Washington State University at Vancouver":1034,
		"Washington University, Saint Louis":1035,
		"Wayne State University":1036,
		"Waynesburg College":1037,
		"Weber State University":1038,
		"Webster University":1039,
		"Wellesley College":1040,
		"Wells College":1041,
		"Wentworth Institute of Technology":1042,
		"Wesley College":1043,
		"Wesleyan University":1044,
		"West Chester University of Pennsylvania":1045,
		"West Coast University":1046,
		"West Georgia College":1047,
		"West Liberty State College":1048,
		"West Texas A&M University":1049,
		"West Virginia University":1050,
		"West Virginia University at Parkersburg":1051,
		"Western Carolina University":1052,
		"Western Connecticut State University":1053,
		"Western Illinois University":1054,
		"Western Kentucky University":1055,
		"Western Maryland College":1056,
		"Western Michigan University":1057,
		"Western Montana College":1058,
		"Western New England College":1059,
		"Western New Mexico University":1060,
		"Western State College":1061,
		"Western Washington University":1062,
		"Westfield State College":1063,
		"Westminster College":1064,
		"Westminster College":1065,
		"Westminster College of Salt Lake City":1066,
		"Westminster Theological Seminary":1067,
		"Westmont College":1068,
		"Wheaton College":1069,
		"Wheaton College, Norton MA":1070,
		"Wheeling Jesuit College":1071,
		"Whitman College":1072,
		"Whittier College":1073,
		"Whitworth College":1074,
		"Wichita State University":1075,
		"Widener University":1076,
		"Wilberforce University":1077,
		"Wilkes University":1078,
		"Willamette University":1079,
		"William Howard Taft University":1080,
		"William Jewell College":1081,
		"William Mitchell College of Law":1082,
		"William Penn College":1083,
		"William Paterson College":1084,
		"William Woods University":1085,
		"Williams College":1086,
		"Wilmington College":1087,
		"Winona State University":1088,
		"Winthrop University":1089,
		"Wittenberg University":1090,
		"Wofford College":1091,
		"Woodbury University":1092,
		"Worcester Polytechnic Institute":1093,
		"Wright State University":1094,
		"Xavier University of Louisiana":1095,
		"Yale University":1096,
		"Yeshiva University":1097,
		"York College of Pennsylvania":1098,
		"Youngstown State University":1099
		}

		function autocomplete($ctl, data, cb, freeInput) {
			var count = 0;
			var linkCount = 1;
        $ctl.autocomplete({
            minLength: 1,
            autoFocus: true,
            messages: {
                noResults: '',
                results: function () {}
            },
            source: function (request, response) {
                var result = $.grep(Object.keys(data), function (el) {
                    return el.indexOf(request.term) === 0
                });
                response(result)
            },
            select: function (e, ui) {
                console.log("ui.item", ui.item)
                cb(e, ui)

								var school = ui.item.value;
								document.getElementById("myLink" + linkCount).innerHTML = school;
								document.getElementById("list" + linkCount).style.display = "inline";
								$("<input />", {val: school, name: "selectedSchool-" + count}).appendTo("form").hide();
								$(this).val('');
								count = count + 1;
								linkCount = linkCount + 1;
								ui.item.value = "";
            },
            change: function (e, ui) {
                if (!(freeInput || ui.item)) e.target.value = "";
            }
        });
    }

		autocomplete($('#schoolChoice'), data, function () {});

	</script>

</html>
