<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {% load static %}
		<link href="{% static 'css/checkbox.css'%}" rel="stylesheet" type="text/css">

    <title>University Deadline Information</title>
  </head>
  <body>
    <!-- <h1>Enter your details</h1> -->
		<form method="POST">
      <h1>Enter your details</h1>
			{% csrf_token %}
			Full Name: <input type="text" name="fullname">
			<p></p>
			Email: <input type="text" name="email">
			<p></p>
			<label for="location">Nearest City: </label>
			<input list="locations" name="location" id="location">
			<datalist name="location" id="locations">
				{% for place in cityList %}
					<option>{{ place }}</option>
				{% endfor %}
			</datalist>
			<p></p>
			<label for="schoolType">Education Type: </label>
			<select name="schoolType" id="schoolType">
					<option>Undergraduate</option>
					<option>Postgraduate</option>
					<option>Professional</option>
			</select>
			<p></p>
			<!-- <form action="/action_page.php"> -->
			Select the tests you are planning to take:
      <div class="container">
      <ul class="ks-cboxtags">
      <li>
        <input type="checkbox" id="checkboxOne" value="SAT"><label for="checkboxOne">SAT</label>
      </li>
      <li>
        <input type="checkbox" id="checkboxTwo" value="ACT"><label for="checkboxTwo">ACT</label>
      </li>
      <li>
        <input type="checkbox" id="checkboxThree" value="IELTS"><label for="checkboxThree">IELTS</label>
      </li>
      <li>
        <input type="checkbox" id="checkboxFour" value="TOEFL"><label for="checkboxFour">TOEFL</label>
      </li>
      </ul>
      </div>
			<p></p>
			  <!-- <input type="checkbox" name="SATchoice" value="Bike">
			  <label for="SATchoice"> Take the SAT?</label><br>
			  <input type="checkbox" name="ACTchoice" value="Car">
			  <label for="ACTchoice"> Take the ACT?</label><br>
			  <input type="checkbox" name="engProf" value="Boat">
			  <label for="engProf"> Complete English language proficiency tests?</label><br><br> -->
			  <!-- <input type="submit" value="Submit"> -->
			<!-- </form> -->
			<input type="submit" name="personalInfo">

		</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
